html {
  height: 100%;
  width: 100%;
  margin: 0;
}

body {
  overflow: hidden;
  font-family: Open Sans;
  color: #f3f4f5;
  text-shadow: 1px 1px #050d17;
  background-color: #315583;
  height: 100%;
  width: 100%;
  margin: 0;
}

#header {
  font-size: 30px;
  padding-top: 10px;
  padding-bottom: 15px;
  overflow: hidden;
  white-space: nowrap;
  background-color: #1b4376;
  width: 100%;
  height: 35px;
  top: 0;
  position: relative;
}

#wrapper {
  width: 30%;
  height: 100%;
  float: right;
  overflow-y: scroll;
}

#main {
  font-size: 20px;
  position: relative;

  width: 100%;
  text-align: center;
  float: right;
}

.box1 {
  margin-left: 10px;
}

#map {
  text-shadow: none;
  height: 100%;
  width: 70%;
  background-color: #CCC;
  position: absolute;
  float: left;
}

button {
  font-size: 20px;
  padding: 2px;
  padding-left: 20px;
  padding-right: 20px;
  color: #f3f4f5;
  background: #1b4376;
  border: solid 2px #8da1ba;
}

button:hover {
  background: #8da1ba;
  color: #1b4376;
  border: solid 2px #1b4376;
}

button:active {
  background: #8da1ba;
  color: #0d213b;
}

input {
  width: 50px;
  font-size: 16px;
  border: 1px solid #1b4376;
}

select {
  font-size: 16px;
  border: 1px solid #1b4376;
}

.result {
  border-bottom: 1px solid #0d213b;
  height: 50px;
  padding-left: 5px;
}

.officers {
  font-size: 10px;
  float: right;
}

.police {
  position: relative;
  float: right;
}

.darker {
  background-color: #183c6a;
  padding-left: 5px;
  padding: 20px;
  width: 200px;
  font-size: 21px;
}

table {
  font-size: 16px;
  text-align: left;
}

.number {
  margin: 1px;
  padding-left: 4px;
  padding-right: 4px;
  font-size: 20px;
  float: right;
  position: relative;
  border-radius: 5px;
  background-color: #102846;
}

.postcode {
  font-size: 30px;
  background-color: #183c6a;
  text-align: center;
  width: 150px;
}

.info {
  padding-top: 5px;
  background-color: #183c6a;
  text-align: center;
  font-size: 16px;
  height: 160px;
  width: 240px;
}
