<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
  <head lang="en">
    <meta charset="utf-8">
    <title>Officer Deployment</title>
    <link rel="stylesheet" href="{% static "style.css" %}">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans" />
    <link href='https://fonts.googleapis.com/css?family=Arvo' rel='stylesheet' type='text/css'>
    <script src="{% static "maps.js" %}"></script>
    <script src="{% static "script.js" %}"></script>
  </head>
  <body>
    <div id="map"></div>
    <div id="wrapper">
      <div id="header"><div class="box1">Officer Deployment</div></div>
      <div id="main">
		      {% block body_block %}{% endblock %}
      </div>
    </div>
  </body>
</html>
