{% extends "base.html" %}

{% block title %}Officer Deployment{% endblock %}

{% block body_block %}
        <br/>
        Minimum Groups of:
        <select id="groups">
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select>
        <br/>
        Police Officers available:
        <input id="officers" type="number" name="officers" value="100">
        <br/>
        <br/>
        <button type="button" onclick="deploy()">Analyse</button>
{% endblock %}
